.bg-image {
    background-image: url('téléchargement.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 1380px;
}
